<h1>Dragon Ball Z</h1>
<hr>

<div class="row">
    <div class="col">
        <app-personajes></app-personajes>
        <!-- <h3>Personajes</h3>
        <hr>
        <ul *ngFor="let personaje of personajes">
            <li>Personaje: {{ personaje.nombre }}</li>
            <li>Poder: {{ personaje.poder | number}}</li>
            <hr>
        </ul> -->
    </div>
    <div class="col">
        <!-- <app-agregar [nuevo]="nuevo"></app-agregar> -->  
        <app-agregar [nuevo]="nuevo"></app-agregar>
    </div>
</div>